
.modal-backdrop {
    z-index: -1;
    opacity: 0;
}

.modal-backdrop.show {
    opacity: 0;
}

.node {
    width: 180px;
    font-size: 13px;
    background-color: #69a2bd;
    margin: 3px;
    color: #242424;
    box-shadow: 2px 2px 3px rgb(43, 65, 88);
}

.node-name {
    position: fixed;
}

#content {
    position: relative;
    top: 50px;
    left: 100px;
}

.fa-plus-square-o {
    left: 115px;
    position: relative;
}

.fa-minus-square-o {
    left: 115px;
    position: relative;
}

.fa-arrow-down {
    position: relative;
    left: 4px;
    margin-right: 6px;
}

.fa-arrow-right {
    position: relative;
    left: 4px;
    margin-right: 6px;
}

.fa-pencil {
    left: 115px;
    position: relative;
}

.timer {
    font-size: 25px;
    position: relative;
    left: -282px;
    color: #ff0000;
}

.btn-create {
    position: fixed;
    left: 45%;
    top: 25%;
}

